body {
	background: url("../img/misty mountains cold.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #44485B;
	padding-right: 60px;
}
.title {
	font-size: 26pt;
	font-weight: 300;
	text-shadow: 1px 1px 1px #DAD5DB;
}
.subtitle {
	font-weight: 400;
	font-family: "Dancing Script";
	text-shadow: 1px 1px 1px #DAD5DB;
}
.hero {
	margin-top: 5%;
}
.hero p {
	font-size: 16pt;
	max-width: 300px;
	text-shadow: 1px 1px 1px #DAD5DB;
}
.nav {
	background-color: #E3DEE2;
	z-index: 100;
	position: fixed;
	right: 0;
	top: 50%;
	box-shadow: 0 0 10px #DAD5DB;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.example img{
	box-shadow: 0 0 5px #44485B;
	opacity: 0.6;
	transition: all 0.2s ease;
}
.example img:hover{
	opacity: 0.9;
}
.nav ul {
	list-style: none;
	margin: 0;
}
.nav ul li {
	margin: 0;
}
.nav ul li img {
	width: 30px;
	margin: 10px 10px 10px 10px;
	opacity: 0.6;
	transform: all 0.2s ease;
}
.nav ul li img:hover, .nav ul li img.selected {
	opacity: 1;
}
.big {
	font-size: 60pt;
	font-weight: 400;
	font-family: "Dancing Script";
}
@media (min-height: 450px) {
	.hero {
		margin-top: 30%;
	}
}
@media (min-width: 400px) and (min-height: 450px) {
	.title{
		font-size: 36pt;
		text-shadow: none;
	}
	.big{
		font-size: 80pt;
	}
	.subtitle{
		text-shadow: none;
	}
	.nav {
		top: 50%;
	}
	.hero p {
		text-shadow: none;
	}
}